.sample-tutorial {
  position: relative;
  height  : 100%;
  overflow: hidden;
}

.sample-spreadsheets {
  width   : calc(100% - 280px);
  height  : 100%;
  overflow: hidden;
  float   : left;
}

.options-container {
  float     : right;
  width     : 280px;
  padding   : 12px;
  height    : 100%;
  box-sizing: border-box;
  background: #fbfbfb;
  overflow  : auto;
}

.sample-options {
  z-index: 1000;
}

.inputContainer {
  width        : 100%;
  height       : auto;
  border       : 1px solid #eee;
  padding      : 6px 12px;
  margin-bottom: 10px;
  box-sizing   : border-box;
}

.input {
  font-size : 14px;
  height    : 20px;
  border    : 0;
  outline   : none;
  background: transparent;
}

.button {
  height    : 30px;
  padding   : 6px 12px;
  width     : 80px;
  margin-top: 6px;
}

.group {
  padding: 12px;
}

.group input {
  padding: 4px 12px;
}

body {
  position: absolute;
  top     : 0;
  bottom  : 0;
  left    : 0;
  right   : 0;
}

#app {
  height: 100%;
}