.contentPanel {
  width: 100%;
  
  padding: 0 5px 0 5px;
}

.modulePanelFooter {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 0 10px 0 10px;
  color: #ccc;
}

.modulePanel {
  height: 100%;
  //background: linear-gradient(165deg, #d7d7d7, #fff);
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #bfbfbf, -2px -2px 5px #cacaca;
}

.nestedModulePanel {
  height: 100%;
  //background: linear-gradient(165deg, #d7d7d7, #fff);
  background: #fff;
  // border-radius: 1px;
  // box-shadow: 1px 1px 2px #bfbfbf, -1px -1px 2px #cacaca;
}

.templatePanel {
  height: 100%;
   // source: https://www.w3cplus.com/css3/css-secrets/striped-backgrounds.html © w3cplus.com
  background: linear-gradient(45deg, #fff 25%, #f1f2f6 0, #f1f2f6 50%, #fff 0, #fff 75%, #f1f2f6 0); background-size: 30px 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #bfbfbf, -2px -2px 5px #cacaca;
}

.separatorModule {
  height: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #bfbfbf, -2px -2px 5px #cacaca;
}

.separatorModulePresentor {
  height: 100%;
}

.loadinSkeleton {
  margin-inline: 5%;
}
