@import '~antd/es/style/themes/default.less';
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

html {
  // html scroll bar redesign
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

// custom
body, #root {
  .ant-pro-sider-menu-sider.light .ant-pro-sider-menu-logo h1 {
    margin-left: 0;
  }

  .ant-pro-page-container-children-content {
    height: 80vh;
  }

  .ant-breadcrumb + .ant-page-header-heading {
    margin-top: 0;
  }

  .ant-page-header.has-breadcrumb {
    padding-top: 5px;
  }

  .ant-page-header {
    padding-bottom: 5px;
  }

  .ant-layout-content {
    margin: 12px;
  }

  .ant-pro-global-footer {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .ant-pro-page-header-wrap-children-content {
    margin: 12px;
  }
}
