@import "~antd/dist/antd.css";
@import '~react-grid-layout/css/styles.css';

.react-grid-item:not(.react-grid-placeholder) {
  background: "lightgrey";
  border: 1px solid lightgray;
  height: fit-content;
}

.react-grid-item .content {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 25%;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
}

.react-grid-item .edit-button {
  position: absolute;
  top: 35%;
  left:0;
  right:0;
  margin: auto;

}

.add-tab {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  height: 24px;
  color:darkgrey;
}

.tab-icon {
  font-size: 48px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}

.tab-icon-selected {
  font-size: 48px;
  text-align: center;
  border-radius: 5px;
  background: #1890ff;
  box-shadow: 2px 2px 5px #1890ff, -2px -2px 5px #1890ff;
  color: white;
}

.tab-icon:hover {
  animation: animate__pulse 3s;
  background-color:dodgerblue;
  color: white;
  /* border: 1px solid lightgray */
}

.tab-label {
  font-size: 20px;
}

.tab-input {
  position: relative;
  top: "20px";
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
}

.tab-text {
  font-size: 15px;
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  text-align: center;
  margin: auto;
}